NEXT_PUBLIC_SUPABASE_URL=https://ajikchaxkmxcyuecqmce.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_zvsYIB7hcM3KHDlNmUqFXg_J0H7RI1k
VITE_SUPABASE_URL=https://ajikchaxkmxcyuecqmce.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_zvsYIB7hcM3KHDlNmUqFXg_J0H7RI1k
VITE_PRESSURE_TABLE=bpc_pressure
VITE_DEVICE_TABLE=coaches_railway
VITE_ADMIN_PASSWORD=admin123
VITE_OFFLINE_AFTER_SECONDS=5
